<div id="<%= dom_id brewery %>">
  <p>
    <strong>Name:</strong>
    <%= link_to brewery.name, brewery%>
  </p>

  <p>
    <strong>Established at</strong>
    <%= brewery.year %>
  </p>

  <p>
    Number of beers: <%= brewery.beers.count%>
  </p>

  <p>
    Brewery has <%=pluralize(brewery.ratings.count, "rating", plural: "ratings")%> with an average of <%=brewery.average_rating%>
  </p>

  <p>
  <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
    <% end %>
  </p>


</div>
